setuptools<81
accelerate==0.24.1
cn2an==0.5.23
encodec==0.1.1
g2p_en==2.1.0
huggingface_hub==0.34.4
jieba==0.42.1
json5==0.10.0
librosa==0.10.0
numpy==1.26.4
onnxruntime-gpu==1.18.0
openai-whisper==20231117
phonemizer==3.3.0
pykakasi==2.3.0
pypinyin==0.55.0
pyopenjtalk-prebuilt==0.3.0
ruamel.yaml==0.18.15
safetensors==0.5.2
scipy==1.12.0
soundfile==0.12.1
tqdm==4.64.1
transformers==4.41.2
Unidecode==1.4.0
