# General Configuration
run_name: "enkidu_on_libritts"
device: "cuda:0"
base_dir: "." # Root directory of the project

vc:
  mode: "ots"  # ots | finetune
  model: "ozspeech"

evaluation:
  bootstrap:
    enabled: true
    num_samples: 1000
    confidence_level: 0.95
    seed: null

# Protection Algorithm Configuration
protection:
  name: "EnkiduProtector"
  mode: "enkidu" # or "SafeSpeech"
  checkpoint_path: "checkpoints"
  perturbation_epochs: 10 # by default  # For quick testing, you can reduce this to ~5-10
  batch_size: 1 # todo check
  learning_rate: 0.1 # 0002
  lr_decay: 0.2 #99995
  mask_ratio: 0.3  # for augmentation
  random_offset: false  # for augmentation
  noise_smooth: false
  lambda_perceptual: 0.1
  alpha: 0.1
  augmentation: true
  noise_level: 0.4
  frame_length: 30
  # waveform info
  sampling_rate: 16000  # for frequency options
  n_fft: 1024
  hop_length: 512
  win_length: 1024
  eps_loss_weight: 1e-8

# Paths for results
output_paths:
  generated_audio: "results/generated_audio"
  metrics_file: "results/metrics.json"

defaults:
  - _self_
  - model: SpeakerRecognition
  - dataset: libritts
#- adversary: bertvits2_ots
