# @package _global_
# General Configuration
run_name: "bert_ots_on_bilingual_uedin"
device: "cuda:0"
base_dir: "."

vc:
  mode: "ots"  # ots | finetune
  model: "bertvits2"

evaluation:
  bootstrap:
    enabled: true
    num_samples: 1000
    confidence_level: 0.95
    seed: null

output_paths:
  metrics_file: "results/bert_ots_on_bilingual_uedin/metrics.json"

adversary: ???

batch_size: 16 # not used in VC

defaults:
  - _self_
  - /dataset: bilingual_uedin
  - /adversary: bertvits2_ots
