# @package _global_

run_name: "moss_ttsd_ots_on_bilingual_uedin"
device: "cuda:0"
base_dir: "."

vc:
  mode: "ots"
  model: "moss_ttsd"

output_paths:
  metrics_file: "results/moss_ttsd_ots_on_bilingual_uedin/metrics.json"

batch_size: 16 # not used in VC

adversary:
  code_path: "checkpoints/MOSS-TTSD"
  model_path: "OpenMOSS-Team/MOSS-TTSD-v0.7"
  spt_config_path: "checkpoints/MOSS-TTSD/XY_Tokenizer/config/MOSS_TTSD_tokenizer.yaml"
  spt_checkpoint_path: "checkpoints/MOSS-TTSD/XY_Tokenizer/weights/MOSS_TTSD_tokenizer"
  system_prompt: "You are a speech synthesizer that generates natural, realistic, and human-like conversational audio from dialogue text."
  torch_dtype: "bf16"
  attn_implementation: "sdpa" # flash_attention_2
  use_normalize: true
  silence_duration: 0.0
  reference_assignment: "round_robin"
  max_samples: null
  seed: null
  default_prompt_text: "Here is a short sample of the desired voice. Use this voice while speaking the text in its original language."
  use_prompt_transcript: false

defaults:
  - _self_
  - /dataset: bilingual_uedin
evaluation:
  bootstrap:
    enabled: true
    num_samples: 1000
    confidence_level: 0.95
    seed: null
